<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <script src="/javascripts/singleProgram.js"></script>
    <link rel="stylesheet" href="/stylesheets/singleProgram.css">
</head>

<body onload="loaded()">
    <div id="programId">
        <%= id %>
    </div>
    <div id="root">root div</div>
    <!--  -->

  









</body>

</html>